[submodule "libs/misc-raidlog_xml_schema"]
	path = libs/misc-raidlog_xml_schema
	url = git://github.com/EQdkpPlus/misc-raidlog_xml_schema.git
[submodule "libs/MonolithDKP"]
	path = libs/MonolithDKP
	url = https://github.com/Roeshambo/MonolithDKP
